<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> </h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>    
    <div class="row justify-content-center">
      <div class="col-5">
        <b><%= form.label :customer_name, class: "required-field", :style => "margin: 10px 0px 0px 10px;" %></b>
        <%= form.text_field :customer_name, :required => true, :style => "background-color: #c5c5c5;width: 60%;" %>
      </div>
      <div class="col-7">
        <b><%= form.label :customer_contact, :style => "margin: 10px 0px 0px 10px;" %></b>
        <%= form.text_field :customer_contact, :style => "background-color: #c5c5c5;width: 42%;" %>
      </div>
    </div>
    <div>
      <b><%= form.label :order_type, :style => "margin: 10px 17px 5px 10px;" %></b>
      <%= form.select :order_type, options_for_select([["Regular", "regular"], ["Re-order", "reorder"]], params[:order_type]), {}, :class => "form-control select-dropdown", :style => "width:10%; margin-left:29px; height:30px;display: inline-block;" %>
    </div>
    <hr style="border: 5px solid; border-radius: 5px;">

    <div id="order_products">
      <table style="border: 0px solid;">
        <thead>
          <tr style="text-align: center">
            <th style="width: 27%">Product</th>
            <th style="width: 5%">Quantity</th>
            <th style="width: 9%">Price</th>
            <th style="width: 9%">Total</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :order_products do |order_product_form| %>
            <%= render "order_product_fields", f: order_product_form %>
          <% end %>
        </tbody>
      </table> 
      <div class='links' align="right">
        <%= link_to_add_association 'Add Product', form, :order_products, class:"btn btn-info" %>
      </div>
    </div>
    <hr style="border: 5px solid; border-radius: 5px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
        </div>
        <div class="col-6" style="font-size: 18px;">
          <b>Gross Total:</b> <%= form.number_field :gross_total, value: form.object.gross_total? ? form.object.gross_total.round(2) : 0, readonly: true, :style => "background-color: #c5c5c5;width: 50%;display: inline-block; margin-left: 29px", class: "gross" %><br>
          <b>Tax:</b> <%= form.number_field :tax, value: form.object.tax? ? form.object.tax.round(2) : 0, readonly: true, :style => "background-color: #c5c5c5;width: 50%;display: inline-block; margin-left: 91px", class: "tax" %><br>
          <b>Payable Total:</b> <%= form.number_field :payable_total, value: form.object.payable_total? ? form.object.payable_total.round(2) : 0, readonly: true, :style => "background-color: #c5c5c5;width: 50%;display: inline-block;; margin-left: 13px", class: "payable" %><br>
        </div>
      </div>
    </div>
    <hr style="border: 5px solid; border-radius: 5px;">
    <div class="actions" align="center" style="margin: 10px 0px 0px 10px;">
      <%= form.submit class: 'btn btn-success', style: "width: 25%" %>
    </div>
  </div>
<% end %>


<script>
  function sumItUp() {
    var gros = 0;
    var taxx = 0;
    $(".total").each(function() {
      if(!isNaN($(this).parent().parent().children().find(".total").val()) && $(this).parent().parent().children().find(".total").val().length!=0) {
        gros += parseFloat($(this).parent().parent().children().find(".total").val());
        taxx += parseFloat($(this).parent().parent().children().find(".otax").val());
      }
    });
    $(".gross").val(gros.toFixed(1));
    $(".tax").val(taxx.toFixed(1));
    var payble = gros+taxx
    $(".payable").val(payble.toFixed(1));
  }
  function sumItUpN() {
    var gros = 0;
    var taxx = 0;
    $(".remove-nested").each(function() {
      if($(this).parent().parent().children().find(".remove-nested").length!=0) {
        gros += parseFloat($(this).parent().parent().children().find(".total").val());
        taxx += parseFloat($(this).parent().parent().children().find(".otax").val());
      }
    });
    $(".gross").val(gros.toFixed(1));
    $(".tax").val(taxx.toFixed(1));
    var payble = gros+taxx
    $(".payable").val(payble.toFixed(1));
  }

  $(document).on('change', '.product', function() {
    var q = $(this).parent().parent().children().find(".quantity").val();
    var p = $(this).parent().parent().children().find(".product option:selected").attr('data-price');
    var hhh = Number(p)*Number(q);
    var t = 5*(p)/100
    var ttt = t*q
    $(this).parent().parent().children().find('.oprice').val(p);
    $(this).parent().parent().children().find('.otax').val(ttt.toFixed(1));
    $(this).parent().parent().children().find('.total').val(hhh.toFixed(1));
    sumItUp();
  });

  $(document).on('change', '.quantity', function() {
    var q = $(this).parent().parent().children().find(".quantity").val();
    var p = $(this).parent().parent().children().find(".product option:selected").attr('data-price');
    var hhh = Number(p)*Number(q);
    var t = 5*(p)/100
    var ttt = t*q
    $(this).parent().parent().children().find('.oprice').val(p);
    $(this).parent().parent().children().find('.otax').val(ttt.toFixed(1));
    $(this).parent().parent().children().find('.total').val(hhh.toFixed(1));
    sumItUp();
  });

  $(document).on('click', '.remove-nested', function() {
    $(this).parent().parent().children().find('.otax').val("0");
    $(this).parent().parent().children().find('.total').val("0");
    sumItUpN();
  });

  $('a.remove-nested').first().hide()
  
</script>