<div align="center">
  <div class="sm-container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="mt-3">
          <h1 align="center" style="margin-bottom: 30px;">Product - <%= @product.id %></h1>
        </div>
        
        <div class="mb-10 row">
          <div class="col-sm-4 col-form-label">
            <strong>Name:</strong>
            <%= @product.name %>
          </div>
          <div class="col-sm-4 col-form-label">
            <strong>Price:</strong>
            <%= @product.price %>
          </div>
        </div>

        <div class="col-sm-4 col-form-label">
          <strong>Description:</strong>
          <%= @product.description %>
        </div>
      <hr>
      <% if @product.product_images.present? %>
        <% @product.product_images.each do |image| %>
          <%= image_tag image, :class => "show-img" %>
        <% end %>
      <% else%>
        <h2 style="border: 1px solid; border-radius: 15px; width: 200px; padding: 20px">No Image</h2>
      <% end %>
      <hr>

        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %> |
        <%= link_to 'Back', :back, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>


