<div align="center">
  <div style="width: 90%;text-align: left;">
    <div class="row justify-content-center">
      <div class="col-5" style="margin-top: 4%; background-color: #adadad; padding: 1rem; border-radius: 10px">
        <div>
          <h1 align="center" style="margin-bottom: 30px;">Attendence</h1>
        </div>
          <div align="center">
            <%= form_tag(user_attendence_attendences_path, method: :get, remote: :true) do %>
              <b class="required-field">Email: </b>
              <%= email_field_tag :email, "", html: {autocomplete: 'disabled'}, :placeholder => "Email", :style => "width: 75%; margin-left: 4.3%;", required: true %>
              <br>
              <b class="required-field">Passcode: </b>
              <%= text_field_tag :passcode, "", :placeholder => "Passcode", :style => "width: 75%;", required: true %>
              <br>
              <b>Remark: </b>
              <%= text_field_tag :remark, "", :placeholder => "Remark", :style => "width: 75%; margin-left: 4%;" %>

              <%= submit_tag ("Mark"), :style => "width: 90px; margin: 10px 0px 0px 30px;", :class => "btn btn-success" %>
            <% end %>
          </div>

          <%= link_to 'Back', :back, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>
